<section class="my-8 md:max-w-7xl w-full mx-auto">
  <h2
    class="text-3xl text-gray-500 uppercase tracking-wide mb-4 md:text-start text-center"
  >
    {{ category | decodeUri }}
  </h2>
  <div
    *ngIf="!(isLoading$ | async); else loading"
    class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4"
  >
    <app-product-card
      class="self-stretch"
      *ngFor="let product of products$ | async"
      [product]="product"
    ></app-product-card>
  </div>
  <ng-template #loading>
    <app-loading-indicator></app-loading-indicator>
  </ng-template>
</section>
